@model DATN.Core.ViewModel.InvoiceVM.InvoiceVM

@{
    ViewData["Title"] = "Details";
}

<div class="container-fluid px-4">
    <h1 class="mt-4">Đơn hàng chi tiết</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a asp-area="Admin" asp-controller="Invoice" asp-action="Index">Hóa đơn</a></li>
        <li class="breadcrumb-item active">Chi tiết</li>
    </ol>
    <div class="row">
        <div class="col-md-8">
            <form asp-action="Update" id="" asp-controller="Invoice" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="InvoiceId" />
                <div class="form-group">
                    <label asp-for="InvoiceId" class="control-label">Mã hóa đơn</label>
                    <input asp-for="InvoiceId" class="form-control" readonly />
                    <span asp-validation-for="InvoiceId" class="text-danger"></span>
                </div>
                @if (Model.Note!=null)
                {
                    <div class="form-group">
                        <label class="control-label">Tên người nhận</label>
                        <input name="RecipientName" value="@(Model.Note.Split('-')[0])" class="form-control" />

                    </div>
                    <div class="form-group">
                        <label class="control-label">Số điện thoại</label>
                        <input name="PhoneNumber" value="@(Model.Note.Split('-')[1])" class="form-control" />

                    </div>
                    <div class="form-group">
                        <label class="control-label">Địa chỉ</label>
                        <input name="Address" value="@(Model.Note.Split('-')[2])" class="form-control" />

                    </div>
                    <div class="form-group">
                        <label class="control-label">Mã tỉnh thành</label>
                        <input name="matinh" value="@(Model.Note.Split('-')[3])" class="form-control" readonly />

                    </div>
                    <div class="form-group">
                        <label class="control-label">Mã địa phương</label>
                        <input name="madiaphuong" value="@(Model.Note.Split('-')[4])" class="form-control" readonly />

                    </div>
                }
                <table class="table table-success table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Tên sản phẩm</th>
                            <th scope="col">Phân loại sản phẩm</th>
                            <th scope="col">Đơn giá</th>
                            <th scope="col">Giá khuyến mãi</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.InvoiceDetails)
                        {
                            <tr>
                                <th scope="row">@item.Variant.Product.ProductName</th>
                                <td>@item.Variant.VariantName</td>
                                <td>@item.OldPrice</td>
                                <td>@item.NewPrice</td>
                            </tr>
                        }
                        <tr>
                            <th style="color:red" scope="row">Tổng tiền hàng</th>
                            <td colspan="2"></td>
                            <td style="color:red">@Model.InvoiceDetails.Sum(p => p.NewPrice * p.Quantity)</td>
                        </tr>
                        <tr>
                            <th style="color:red" scope="row">Voucher</th>
                            @if (Model.VoucherId != null)
                            {
                                @* <td colspan="2">@Model.VoucherUser.Voucher.Name</td> *@
                                var total = @Model.InvoiceDetails.Sum(p => p.NewPrice * p.Quantity);
                                //var discount = total * (Model.VoucherUser.Voucher.DiscountByPercent / (double)100) + (double)Model.VoucherUser.Voucher.DiscountByPrice;
                                //<td style="color:red">-@discount</td>
                            }
                            else
                            {
                                <td style="color:red" colspan="2"></td>
                                <td style="color:red">0</td>
                            }
                        </tr>
                        <tr>
                            <th style="color:red" scope="row">Tổng cộng</th>
                            <td colspan="2"></td>
                            <td style="color:red">@Model.Note.Split("-")[5].Split(",")[0]</td>
                        </tr>
                    </tbody>
                </table>
                <div class="form-group">
                    <a asp-action="Index" asp-controller="Invoice" class="btn btn-secondary my-4">Trở lại</a>
                    <input type="submit" id="target-btn" value="Lưu" class="btn btn-success m-4" />
                    @if (Model.Status == DATN.Core.Enum.InvoiceStatus.Pending)
                    {
                        <a asp-route-invoiceId="@Model.InvoiceId" asp-action="CreateShippingOrder" asp-controller="Invoice" class="btn btn-primary my-4">Tạo đơn ship</a>
                        <a asp-route-invoiceId="@Model.InvoiceId" asp-action="CancelInvoice" asp-controller="Invoice" class="btn btn-danger my-4">Hủy hóa đơn</a>
                    }
                    @* else if (Model.Status == DATN.Core.Enum.InvoiceStatus.PaymentSuccess)
                    {
                    <a asp-route-invoiceId="@Model.InvoiceId" asp-action="CreateShippingOrder" asp-controller="Invoice" class="btn btn-primary my-4">Tạo đơn ship</a>
                    } *@
                </div>
            </form>
        </div>
    </div>
</div> 