@using DATN.Client.Helper
@using DATN.Client.ViewModel
@using DATN.Core.ViewModel.ProductCommentVM
@model DATN.Core.ViewModel.Product_EAV.ProductVM_EAV

@{
    var CommentOverviewVm = ViewBag.productCommentResponse as CommentOverviewVM;
    ViewData["Title"] = "Details";
    var fullStars = (int)Math.Floor(CommentOverviewVm.AVGRatingStar);
    var halfStars = (int)Math.Round(CommentOverviewVm.AVGRatingStar);
    var nextMonth = DateTime.Now.AddMonths(1).ToString("MMM", new System.Globalization.CultureInfo("vi-VN"));
    // decimal? discountPercentage = Model.Product.Price != 0 ? ((Model.Product.Price - Model.Product.NewPrice) / Model.Product.Price * 100) : 0;
    // decimal roundedDiscountPercentage = Math.Round((decimal)discountPercentage, 2);
    var a = Model;
    var userId = Guid.Empty;
    var dataSession = HttpContextAccessor.HttpContext.Session.GetString("user");
    if (dataSession != null)
    {
        userId = SessionHelper.GetObjectFromJson<UserInfo>(HttpContextAccessor.HttpContext.Session, "user").UserId;

    }
}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

<!-- Bootstrap CSS -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/css/bootstrap.min.css" rel="stylesheet">

<style>
    .radio-button-group {
        display: flex;
        gap: 10px;
    }

    .radio-input {
        display: none;
    }

    .radio-label {
        display: inline-block;
        padding: 10px 20px;
        border-radius: 5px;
        background-color: #f0f0f0;
        cursor: pointer;
        text-align: center;
        border: 2px solid transparent;
        transition: background-color 0.3s ease, border-color 0.3s ease;
    }

        .radio-label:hover {
            background-color: #e0e0e0;
        }

    .radio-input:checked + .radio-label {
        background-color: #007bff;
        color: white;
        border-color: #0056b3;
    }

</style>
<!-- Initialize Swiper -->

<container>
    <div class="container-fluid !direction !spacing">
        <!-- Name product -->
        <div class="row">
            <div style="" class="col">
                <h4 style="font-weight:bold;font-size:18px; margin-top:40px">@Model.ProductName</h4>
            </div>
            <hr>
        </div>
        <!-- Layout -->
        <div class="row">
            <!-- left product -->
            <div class="col-7">
                <div id="carouselExampleControls2" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        @foreach (var item in Model.Images.Where(p => p.IsDefault != true).Select((value, index) => new { value, index }))
                        {
                            if (item.index == 0)
                            {
                                <div class="carousel-item active">
                                    <img src="@item.value.ImagePath" class="d-block w-100" alt="...">
                                </div>
                            }
                            else
                            {
                                <div class="carousel-item">
                                    <img src="@item.value.ImagePath" class="d-block w-100" alt="...">
                                </div>
                            }
                        }
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls2" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls2" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
                <!-- information product -->
                <div class="container" style="margin-top:40px">
                    <div class="row">
                        <h3 class="article__content__title">Thông tin sản phẩm</h3>
                        <div class="content-short" style="max-height:350px;overflow:hidden">
                            @Html.Raw(Model.Description)

                        </div>
                        <div class="row content-more">
                            <button data-bs-toggle="modal" data-bs-target="#exampleModal" style="box-shadow:0 -12px 40px #4d79bc; color:#2f80ed" type="button" class="btn-content-more btn btn-outline-primary">Xem thêm</button>
                        </div>
                        <div class="row pt-5 pb-5 ">
                            @* <h3><a class="preventdefault" href="https://cdn.tgdd.vn/Products/Images/42/299033/iphone-15-pro-131023-034959.jpg" onclick="return false;"><img alt="iPhone 15 Pro Max Tổng quan" data-src="https://cdn.tgdd.vn/Products/Images/42/299033/iphone-15-pro-131023-034959.jpg" class=" w-100" style="font-size: 13px;" title="iPhone 15 Pro Max Tổng quan" src="https://cdn.tgdd.vn/Products/Images/42/299033/iphone-15-pro-131023-034959.jpg"></a></h3> *@
                            <img src="@Model.ImagePath" />
                        </div>
                    </div>
                </div>

                <!-- Recommend -->
                <div class="row" style="margin:0!important">
                    <div class="boxrate rate-topzone card p-5 m-2 me-3">
                        <h3 class="boxrate__title">
                            Đánh giá @Model.ProductName
                        </h3>
                        <div class="boxrate__top">
                            <div class="box-star">
                                <div class="row">
                                    <div class="col-lg-3">
                                        <div class="point d-flex m-2">

                                            @if (fullStars > 0)
                                            {
                                                <p class="fs-4 me-2" style="color: red; font-weight: bold;">@CommentOverviewVm.AVGRatingStar</p>
                                                @for (int i = 0; i < fullStars; ++i)
                                                {
                                                    <i class="bi bi-star-fill fs-3" style="color: orange;"></i>
                                                }
                                                @for (int i = fullStars; i < halfStars; ++i)
                                                {
                                                    <i class="bi bi-star-half fs-3" style="color: orange;"></i>
                                                }
                                            }

                                        </div>
                                    </div>
                                    <div class="col-lg-9 d-flex">
                                        <span class="marked ">@CommentOverviewVm.GrandTotalCount đánh giá</span>
                                    </div>
                                </div>

                                <div class="timeline-star mb-2">

                                    <div class="mb-1">
                                        <span>5 <i class="bi bi-star-fill me-2 voted"></i></span>
                                        <span class="progress ">
                                            <span class="progress-bar bg-warning" role="progressbar" style="width: @CommentOverviewVm.Count5Star%" aria-valuenow="@CommentOverviewVm.Count5Star" aria-valuemin="0" aria-valuemax="100">@CommentOverviewVm.Count5Star%</span>
                                        </span>
                                    </div>
                                    <div class="mb-1">
                                        <span> 4 <i class="bi bi-star-fill me-2 voted"></i></span>
                                        <span class="progress mb-1">

                                            <span class="progress-bar bg-warning" role="progressbar" style="width: @CommentOverviewVm.Count4Star%" aria-valuenow="@CommentOverviewVm.Count4Star" aria-valuemin="0" aria-valuemax="100">@CommentOverviewVm.Count4Star%</span>
                                        </span>
                                    </div>

                                    <div class="mb-1">
                                        <span> 3 <i class="bi bi-star-fill me-2 voted"></i></span>
                                        <span class="progress">
                                            <span class="progress-bar bg-warning" role="progressbar" style="width: @CommentOverviewVm.Count3Star%" aria-valuenow="@CommentOverviewVm.Count3Star" aria-valuemin="0" aria-valuemax="100">@CommentOverviewVm.Count3Star%</span>
                                        </span>
                                    </div>
                                    <div class="mb-1">
                                        <span> 2 <i class="bi bi-star-fill me-2 voted"></i></span>
                                        <span class="progress mb-1">

                                            <span class="progress-bar bg-warning" role="progressbar" style="width: @CommentOverviewVm.Count2Star%" aria-valuenow="@CommentOverviewVm.Count2Star" aria-valuemin="0" aria-valuemax="100">@CommentOverviewVm.Count2Star%</span>
                                        </span>
                                    </div>
                                    <div class="mb-1">
                                        <span> 1 <i class="bi bi-star-fill me-2 voted"></i></span>
                                        <span class="progress">
                                            <span class="progress-bar bg-warning" role="progressbar" style="width: @CommentOverviewVm.Count1Star%" aria-valuenow="@CommentOverviewVm.Count1Star" aria-valuemin="0" aria-valuemax="100">@CommentOverviewVm.Count1Star%</span>
                                        </span>
                                    </div>

                                </div>
                            </div>
                            <div class="card">
                                @foreach (var item in CommentOverviewVm.CommentVms)
                                {
                                    <div class="card-body">
                                        <div class="d-flex flex-start align-items-center">
                                            <img class="rounded-circle shadow-1-strong me-3"
                                                 src="~/Images/User/user-default-avatar.png" alt="avatar" width="60"
                                                 height="60" />
                                            <div>
                                                <h6 class="fw-bold text-primary mb-1">@item.UserName</h6>
                                                <p class="text-muted small mb-0">
                                                    @item.Date.ToString("dd/MM/yyyy") : @item.Date.ToString("HH:mm:ss")
                                                </p>
                                            </div>
                                        </div>
                                        <p class="mt-2">
                                            @for (int root = 1; root <= 5; root++)
                                            {
                                                <i class="fas fa-star @(item.Rating>=root?"voted":"un-voted") vote-star"></i>

                                            }
                                        </p>
                                        <p class="mt-2">
                                            @item.Content
                                        </p>
                                    </div>
                                    <hr />
                                }
                                <div class="card-footer py-3 border-0" style="background-color: #f8f9fa;">
                                    <div class="row">
                                        <div class="col-6">
                                            <button type="button" class="btn btn-outline active w-100 btn-view-more" data-param="@Model.ProductId" autocomplete="off" aria-pressed="true">Xem @CommentOverviewVm.GrandTotalCount đánh giá</button>

                                        </div>
                                        @* <div class="col-6">
                                        <button type="button" class="btn btn-primary active w-100" data-bs-toggle="button" autocomplete="off" aria-pressed="true">Viết đánh giá</button>

                                        </div> *@
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>

                </div>
            </div>

            <!-- right product -->

            <form class="col-5 form-add" asp-action="AddToCart" asp-controller="Product" method="post">


                <div>
                    <!-- Attribute Dynamic: Need check if here if is true attribute dynamic -->
                    @foreach (var item in Model.Variants)
                    {
                        if (item.IsDefault == true)
                        {
                            <input id="option@(item.VariantId)" checked type="radio" value="@item.VariantId" quantity="@item.Quantity" name="selectedVariantId" class="radio-input">
                            <label for="option@(item.VariantId)" class="radio-label">@item.VariantName</label>
                        }
                        else
                        {
                            <input id="option@(item.VariantId)" type="radio" value="@item.VariantId" quantity="@item.Quantity" name="selectedVariantId" class="radio-input">
                            <label for="option@(item.VariantId)" class="radio-label">@item.VariantName</label>
                        }

                    }
                    <input type="hidden" name="userId" value="@userId" />

                    <!-- Address -->
                    <div>
                        <!-- Price -->
                        <div class="row ms-1 mt-4 mb-3 box-price align-items-center">
                            <div style="flex:1" class="d-flex align-items-center">
                                <p class="box-price-present fs-4" id="selected-oldprice" style="color: red; font-weight: bold">
                                    @*         @(Model.Product.Price.HasValue ? Model.Product.Price.Value.ToString("N0") + "₫" : "N/A") *@
                                </p>
                                <p class="box-price-present fs-4" id="selected-price" style="color: #888; font-weight: 400;font-size:14px!important;text-decoration:line-through;margin-left:10px">
                                    @*         @(Model.Product.Price.HasValue ? Model.Product.Price.Value.ToString("N0") + "₫" : "N/A") *@
                                </p>

                            </div>
                            <div style="flex:1">
                                <p class="box-price-present fs-4" id="selected-quantity" style="color: red; font-weight: 500; display:flex;align-items:baseline">
                                    @*         @(Model.Product.Price.HasValue ? Model.Product.Price.Value.ToString("N0") + "₫" : "N/A") *@
                                </p>

                            </div>
                        </div>

                        <!-- Sale -->
                        <div class="row">
                            <div class="row g-2">
                                <div class="col-12">
                                    <button type="submit" class="btn btn-warning col-12 p-4">Thêm vào giỏ hàng</button>
                                </div>
                            </div>
                        </div>
                        <!-- callorder -->
                        <div class="row text-center m-2">
                            <p class="callorder">
                                <i class="bi bi-telephone"></i>  Gọi đặt mua <a style="text-decoration: none;" href="tel:1900232461">1900 232 461</a> (7:30 - 22:00)
                            </p>
                        </div>
                        <!-- Configruration Product -->
                        <div class="row"><h3 class="parameter__title">Cấu hình @Model.ProductName</h3></div>
                        <h4>Đặc điểm sản phẩm</h4>
                        <div class="parameter">
                            <table class="table table-striped">
                            </table>

                        </div>
                    </div>


                </div>
            </form>
        </div>
    </div>
    <!-- Bootstrap JS and dependencies -->
</container>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Mô tả sản phẩm</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" style="padding:40px 20% 20px 20%">
                @Html.Raw(Model.Description)
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
@* <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> *@
<script type="text/javascript">
    document.addEventListener("DOMContentLoaded", async () => {
        let variantId = document.querySelector('input:checked').getAttribute("value")
        let result = await getVariantPrice(variantId)

        var formattedPrice = parseInt(result.salePrice).toLocaleString('vi-VN') + '₫';
        var formattedOldPrice = parseInt(result.afterDiscountPrice).toLocaleString('vi-VN') + '₫';

        document.getElementById('selected-price').innerText = formattedPrice;
        document.getElementById('selected-oldprice').innerText = formattedOldPrice;
        document.getElementById('selected-quantity').innerHTML = `Số lượng: ${result.quantity}`

        showTableSpecification(result.specifications)
    })
    document.querySelector(".form-add").addEventListener("submit", (e) => {
        var userId = "@userId"
        var quantity = document.querySelector('input:checked').getAttribute("quantity")
        if (userId == "00000000-0000-0000-0000-000000000000") {
            window.location.href = "/Identity/Account/Login"
            return
        }
        if (quantity == 0) {
            e.preventDefault()
            alert("Sản phẩm đang hết hàng")
            return
        }
    })
    var radioButtons = document.querySelectorAll('.radio-input');
    radioButtons.forEach(radio => {
        radio.addEventListener('change', async (event) => {
            var checkedRadio = document.querySelector('input:checked');

            let variantId = checkedRadio.getAttribute("value"); // Lấy giá trị của radio button đang chọn
            let result = await getVariantPrice(variantId);

            var formattedPrice = parseInt(result.salePrice).toLocaleString('vi-VN') + '₫';
            var formattedOldPrice = parseInt(result.afterDiscountPrice).toLocaleString('vi-VN') + '₫';

            document.getElementById('selected-price').innerText = formattedPrice;
            document.getElementById('selected-oldprice').innerText = formattedOldPrice;
            document.getElementById('selected-quantity').innerHTML = `Số lượng: ${result.quantity}`

            showTableSpecification(result.specifications)
        });
    });
    async function getVariantPrice(variantId) {

        let response = await fetch(`https://localhost:7095/api/VariantEAV/GetById?variantId=${variantId}`)

        const result = await response.json();
        return result
    }

    function showTableSpecification(listSpecification) {
        var content = ""
        for (var item of listSpecification) {
            content += `<tr>
                                    <td class="col-4">${item.key}</td>
                                        <td class="text-break">${item.value}</td>
                                    </tr>`
        }

        document.querySelector(".table").innerHTML = content
    }

    $(document).ready(function () {
        $('.btn-view-more').on('click', function (event) {
            event.preventDefault();
            var prodId = $(this).data('param');
            console.log(prodId);
            window.location.href = `ViewAllComment?id=${prodId}&pageIndex=${0}&ratingStar=${0}`
        });
    });

    var contentShort = document.querySelector('.content-short');
    var height = contentShort.offsetHeight;
    if (height > 350) {
        document.querySelector('.content-more').style.display = "none"
    }
    var btnContentMore = document.querySelector(".btn-content-more")
    if (btnContentMore) {
        btnContentMore.addEventListener('click', () => {

        })
    }
    @* document.querySelector(".addToCartBtn").addEventListener("click", async () => {
        let variantId = document.querySelector('input:checked').getAttribute("value")
        var result = await getVariantPrice(variantId)
        if (result.quantity <= 0) {
        alert("Sản phẩm hiện tại đang hết hàng!")
        }
        await addToCart(variantId)
        }) *@
</script>
<script src="~/js/cart/CartTest.js"></script>